{% set deployment_name = env['deployment']  %}
{% set database_name = deployment_name + 'cloudsql'  %}

resources:
- name: {{ deployment_name }}
  type: gcp-types/sqladmin-v1beta4:instances
  properties:
    region: {{ properties['region'] }}
    backendType: SECOND_GEN
    databaseVersion: POSTGRES_9_6
    settings:
      tier: {{ properties['tier'] | default('db-f1-micro') }}
      backupConfiguration:
        enabled: true
      ipConfiguration:
        privateNetwork: projects/myjobplanner-1520708021669/global/networks/default
        ipv4Enabled: false

- name: {{ database_name }}
  type: gcp-types/sqladmin-v1beta4:databases
  properties:
    name: {{ database_name }}
    instance: $(ref.{{ instance_name }}.name)
    charset: utf8